<?xml version="1.0"?>
<!--
/**
 * Copyright © Eriocnemis, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- plugin -->
    <type name="Magento\Framework\Mail\TemplateInterface">
        <plugin name="eriocnemis_email" type="Eriocnemis\Email\Plugin\Framework\Mail\TemplatePlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\Mail\Template\SenderResolverInterface">
        <plugin name="eriocnemis_email" type="Eriocnemis\Email\Plugin\Framework\Mail\Template\SenderResolverPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <plugin name="eriocnemis_email" type="Eriocnemis\Email\Plugin\Framework\Mail\Template\TransportBuilderPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\Mail\TransportInterfaceFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Eriocnemis\Email\Model\Transport</argument>
        </arguments>
    </type>
    <!-- transport config -->
    <type name="Eriocnemis\Email\Model\Transport\Config">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="sendmail" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Sendmail</item>
                    <item name="class" xsi:type="string">Eriocnemis\Email\Model\Transport\Sendmail</item>
                </item>
                <item name="smtp" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Smtp</item>
                    <item name="class" xsi:type="string">Eriocnemis\Email\Model\Transport\Smtp</item>
                </item>
                <item name="file" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">Save to File</item>
                    <item name="class" xsi:type="string">Eriocnemis\Email\Model\Transport\File</item>
                    <item name="dummy" xsi:type="boolean">true</item>
                </item>
                <item name="inmemory" xsi:type="array">
                    <item name="label" xsi:type="string" translatable="true">In Memory</item>
                    <item name="class" xsi:type="string">Eriocnemis\Email\Model\Transport\InMemory</item>
                    <item name="dummy" xsi:type="boolean">true</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- ui grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eriocnemis_email_listing_data_source" xsi:type="string">Eriocnemis\Email\Model\ResourceModel\Email\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Eriocnemis\Email\Model\ResourceModel\Email\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">eriocnemis_email</argument>
            <argument name="eventPrefix" xsi:type="string">eriocnemis_email_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">collection</argument>
            <argument name="resourceModel" xsi:type="string">Eriocnemis\Email\Model\ResourceModel\Email</argument>
        </arguments>
    </virtualType>
</config>
