<?xml version="1.0"?>
<!--
/**
 * Copyright © Eriocnemis, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eriocnemis_Email::email" title="Sending Emails" translate="title" sortOrder="60" module="Eriocnemis_Email" parent="Magento_Reports::report_marketing" action="eriocnemis_email" resource="Eriocnemis_Email::email"/>
    </menu>
</config>
