<?xml version="1.0"?>
<!--
/**
 * Copyright © Eriocnemis, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="trans_email">
            <!-- include general contact setting -->
            <include path="Eriocnemis_Email::system/email/general.xml"/>
            <!-- include sales representative contact setting -->
            <include path="Eriocnemis_Email::system/email/sales.xml"/>
            <!-- include support contact setting -->
            <include path="Eriocnemis_Email::system/email/support.xml"/>
            <!-- include custom contact setting -->
            <include path="Eriocnemis_Email::system/email/custom.xml"/>
        </section>
        <section id="system">
            <!-- include email log setting -->
            <include path="Eriocnemis_Email::system/log.xml"/>
        </section>
    </system>
</config>
